.header {
	margin-left : 20px;
}

.jumbotron {
	padding: 10px 0 !important;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}


.line {
	fill: none;
	stroke: blue;
	stroke-width: 1px;
	opacity: 0.35;
}

.axis text{
	font-weight: bold;
	font-size: 12px;
}